.container {
	margin: 50px;
	background-color: 
}

body {
	margin: 10px;
	padding: 40px;
	min-height: 200px;
	background-color: white;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

header {
	background-color: #92F23C;
	width:100%;
	min-height: 50px;
}

footer {
	background-color: #65A5D1;
	width:100%;
	min-height: 75px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}